@import url('https://fonts.googleapis.com/css?family=Sofia+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300&display=swap');

body {
  background-color: lightgray;
  margin: 0px;
  font-family: 'Sofia Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.menu {
  /*position: fixed;*/
  overflow: hidden;
  width: 100%;
  float: left;
  padding-left: 5% ;
  padding-right: 5% ;
  background-color: #05539d;
}

.menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: darkslategray;
  color: #ffe66b;
}

.submenu {
  float: left;
}

.submenu .submenubtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.submenu-items {
  display: none;
  position: absolute;
  left: 20;
  background-color: darkslategray;
  /*width: 10%;*/
  min-width: 128px;
  z-index: 1;
}

.submenu-items a:hover {
  color: #ffe66b;
}

.submenubtn:hover {
  color: #ffe66b;
}

.submenu:hover {
  background-color: darkslategray;
}

.submenu:hover .submenu-items {
  display: block;
}

.submenubtn:hover {
	cursor: pointer;
}

.list-sub-items {
	list-style-type: none;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
}

.list-sub-items a{
	text-align: left;
}

.main {
  width: 100%;
  float: left;
  padding-left: 5% ;
  padding-right: 5% ;
  border: 1px solid red;
}

.side-menu {
  width: 20%;
  height: 85%;
  float: left;
  border: 1px solid red;
}



